@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: white;
}
h1{
  font-family: 'Noto Serif Display', serif;
  /*font-family: 'Philosopher', sans-serif;*/
  font-size: 30px;
}
h4{
  font-family: 'Noto Serif Display', serif;
  font-size: 22px;
}
p{
  /*font-family: 'Titillium Web', sans-serif;*/
  font-family: 'Noto Serif Display', serif;
  font-size: 19px;
}

.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}